
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
:root{
	--bg-color: #fff;
	--text-color: #000000;
	--second-color: #5a7184;
	--main-color: #2c2838;
	--big-font: 6rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}
.home{
	position: relative;
    background:url(image/PIZZAscrean.png);
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	align-items: center;
}

.home{
    color:whitesmoke;
}

.home-text p{
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	line-height: 38px;
	margin-bottom: 50px;
    margin: 50px;
    font-family: 'Italianno';font-size: 22px;
}
.home-btn{
	display: inline-block;
	font-size: 16px;
	padding: 15px 30px;
	background: #db7b0dbf;
	color: var(--main-color);
	border-radius: 20px;
	transition: ease .40s;
    margin-left: 50px;
}
.home-btn:hover{
	background: var(--bg-color);
	transform: scale(1.1);
}
.home-text a{
	text-decoration: none;
}
header{
	position: fixed;
    top:0;
    width: 90%;
    padding:6px 70px ;
    background: black;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    z-index: 100;
	transition: ease .40s;
}
body{
	background: var(--text-color);
	color: var(--text-color);
}
.logo1{
	font-size: 35px;
	font-weight: 600;
	letter-spacing: 1px;
	color: rgba(215, 127, 12, 0.982);
    font-family: 'Vujahday Script';
}
.logo2{
	font-size: 35px;
	font-weight: 600;
	letter-spacing: 1px;
	color: var(--bg-color);
}
.navbar{
	display: flex;
}
.navbar a:not(:last-child){
	color: var(--bg-color);
	font-size: var(--p-font);
	font-weight: 500;
	padding: 10px 22px;
	border-radius: 4px;
	transition: ease .40s;
}
.button-24 {
  background: #f56518;;
  border: 1px solid #f56518;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #f56518;
}

.button-24:active {
  opacity: .5;
}
    

.navbar a:hover:not(:last-child){
	background: var(--bg-color);
	color: var(--text-color);
	box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
	border-radius: 4px;
}

#menu-icon{
	color: var(--bg-color);
	font-size: 35px;
	z-index: 10001;
	cursor: pointer;
	display: none;
}
.photo-container {
    display: flex;
    justify-content: space-around;
}

.photo {
    text-align: center;
    
    padding: 10px;
    margin: 10px;
}

.photo img {
    max-width: 100%;

}

.caption {
    font-size: 40px;
    text-align: center;
    margin-top: 10px;
    color: #f56518;
    background: #000000;;
    border-radius: 20px;
    font-family: 'Vujahday Script';

}

.logoP{
	text-align: center;
    margin-top: 100px;
}
.logoP2{
position: relative;
	text-align: center;
    margin-top: 100px;
}

.logo3{
	font-size: 100px;
	font-weight: 600;
	letter-spacing: 1px;
	color: rgba(215, 127, 12, 0.982);
    font-family: 'Vujahday Script';
}
.logo4{
	font-size: 100px;
	font-weight: 600;
	letter-spacing: 1px;
	color: var(--bg-color);
}
.logo5{
	font-size: 50px;
	font-weight: 600;
	letter-spacing: 1px;
	color: rgba(215, 127, 12, 0.982);
    font-family: 'Vujahday Script';
}
.logo6{
	font-size: 50px;
	font-weight: 600;
	letter-spacing: 1px;
	color: var(--bg-color);
}

.gallery-image {
    width: 300px; 
    height: 200px; 
    border: 2px solid #000;
    box-shadow: 5px 5px 10px #888;
}

hr {
    border-bottom: 5px solid rgba(236, 139, 3, 0.987);
    width: 640px;
    margin-left: 450px;
    
}
.buttonOF a{
    background: #f56518;;
    border: 1px solid #f56518;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 20px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 400px;;
    margin-left: 560px;
    margin-top: 100px;
    font-family: 'Vujahday Script';
}
.buttonOF a:hover,
.buttonOF a:active {
  background-color: initial;
  background-position: 0 0;
  color: #f56518;
}
.texte{
    margin: auto;
    text-align: center;
    color: #fff;
    width: 50%;
}
.end-text{
    background-color: #000;
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 20px;
}
.icones{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}
.khobse{
    display: flex;
    justify-content:center;
}
.contacteus{
    justify-content: space-around;

}
.ABC{
    color: #FFFFFF;

}
.contacteus input{
    border-radius : 5px;
    border-color: #db5207;
}

button {
    background-color: #f93021dc;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    
}

button:hover {
    background-color: #000000;

}
.borderCN{
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;

}
label {
    display: block;
    font-weight: bold;
    
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="text"],
textarea {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 5px solid #e44e03;
    border-radius: 20px;
    background-color: #000;
    color: #FFFFFF;
}

textarea {
    height: 150px;
}
.leftright{
   margin-right: 200px;
    color: #ffffff;
    max-width: 500px;
    line-height: 50px;
    padding: 30px;
    font-size: 18px;
    margin-bottom: 200px;
}
.logoP2{
    margin-top: 100px;
}
.logo7{
        
    font-size: 50px;
	font-weight: 600;
	letter-spacing: 1px;
	color: var(--bg-color);
    padding-right: 10%;
}
.textesv{
    margin: auto;
    text-align: center;
    color: #fff;
    width: 30%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    
}

.aboutus img{
    width: 300px;
    height: 450px;
}
.aboutus{
    display: flex;
    justify-content:center;
    margin-right: 20%;
    padding-top: 50px;
}
/* .ligne1{
    border-bottom: 5px solid #e44e03;
    width: 250px;
    
} */
/* .ligne1::after{
    content: '';
    position: absolute;
     width: 250px; 
} */
.logo7{
    width: fit-content(100px);
    border-bottom: 5px solid rgba(236, 139, 3, 0.987);
    padding-left: 10%;

}
.maps{
    display:flex;
    justify-content: space-around;
}
.logoF a {
    font-size: 60px;
    width: auto;
    text-align: center;
    border-bottom: 5px solid rgba(236, 139, 3, 0.987);
}

.logoF {
    text-align: center;
    margin-bottom:50px;
}
.btn{
    padding-top: 10px;
    margin-right: 50px;
    border-radius: 5%;
    background-color: #000000;
    color: #a78500;
    border: 2px solid #a78500 ;
    
}